:root {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.4; }

.c-button {
  transition: all 250ms;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  border: 2px solid transparent;
  border-radius: .20em;
  margin-right: .20em;
  padding: .7em 1.8em;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: #000; }

.c-button--primary {
  background-color: #000;
  color: #fff; }
  .c-button--primary:hover {
    background-color: #262626; }

.c-button--outline {
  border-color: #000;
  background-color: transparent;
  color: #000; }
  .c-button--outline:hover {
    border-color: #262626;
    color: #262626; }
