// TODO Make a mixin for that.
.c-button {
    transition: all 250ms;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 2px solid transparent;
    border-radius: .20em;
    margin-right: .20em;
    padding: .7em 1.8em;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.c-button--primary {
    background-color: #000;
    color: #fff;

    &:hover {
        background-color: lighten(#000, 15%);
    }
}

.c-button--outline {
    border-color: #000;
    background-color: transparent;
    color: #000;

    &:hover {
        border-color: lighten(#000, 15%);
        color: lighten(#000, 15%);
    }
}
